
<div class="container">
    <mat-card  class="contain-card">
      <mat-card-content>Owner History</mat-card-content>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-header>
          <mat-card-title>Booking Id  Booking Slot  Ground Id  PEmail  GEmail  Slot Id  Price  Status Slot Date</mat-card-title>
          
        </mat-card-header>
        <mat-card-content>
          {{allbookings.bookingId}}
            {{allbookings.bookingDateslot}}
            {{allbookings.groundId}}
          {{allbookings.playerEmail}}
          {{allbookings.groundOwnerEmail}}
          {{allbookings.slotId}}
          {{allbookings.pricePaid}}
          {{allbookings.bookingStatus}}
          {{allbookings.slotDate}}
        </mat-card-content>
        </mat-card>
    </div>
    